.banner {
  width: 100%;
}
.banner > img {
  width: 100%;
  object-fit: cover;
}
.channel-details {
  margin-top: -100px;
  padding-block: 1rem;
}
.channel-details-woBanner {
  margin-top: 0;
  padding-block: 1rem;
}
.channel-sub-details,
.tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.channel-image > img {
  border: 2px solid blue;
  width: 10rem;
  border-radius: 50%;
}
img {
  display: block;
}
.detail-box {
  flex-direction: column;
  margin-block: 1rem;
  color: var(--primary-font-clr);
}
.detail-box > h1 {
  font-size: 2rem;
}
.all-counts {
  color: var(--secondary-font-clr);
  justify-content: flex-start;
}
.all-counts > p {
  padding-inline: 0.2rem;
}
.ch-des {
  margin-block: 1rem;
  display: flex;
}
.desc-text {
  width: 50ch;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-inline-end: 1rem;
}
.channel-nav{
  color: var(--primary-font-clr);
}
.videos-listing{
  width: 70%;
}
@media screen and (max-width: 768px) {
  .channel-details {
    margin-top: 0;
  }
  .channel-sub-details,
  .tabs {
    width: 100%;
  }
  .channel-image > img {
    width: 8rem;
  }
  .detail-box > h1 {
    font-size: 1.5rem;
  }
  .all-counts > p {
    font-size: 0.8rem;
  }
  .ch-des {
    margin-block: 0.5rem;
  }
  .desc-text {
    width: 30ch;
  }

}
@media screen and (max-width: 1000px){
  .videos-listing{
    width: 100%;
  }
}