:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --background-rgb: #fdfbfb;
  --primary-clr: black;
  --primary-font-clr: rgb(29, 29, 29);
  --secondary-clr: #606060;
  --secondary-font-clr: #292828;
  --secondary-bg: #e0e0d9;
  --focus-clr: lightblue;
  --video-card-hover: rgba(211, 211, 240, 0.61);
  --header-bg: #fdfbfb;
}
@media (prefers-color-scheme: dark) {
  :root {
    --header-bg: #0a0a0a;
    --background-rgb: rgb(15, 15, 15);
    --primary-clr: rgba(255, 255, 255, 0.88);
    --primary-font-clr: rgb(241, 241, 241);
    --secondary-bg: rgb(39, 38, 38);
    --secondary-clr: rgb(175, 173, 173);
    --secondary-font-clr: rgb(163, 160, 160);
  }
  .search-button-mobile_only img {
    filter: invert(1);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  padding-top: 60px;
  background-color: var(--background-rgb);
  transition: all 250ms ease;
}
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-rgb);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: var(--primary-clr);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-bg);
}
a{
  text-decoration: none;
  
}